{% extends '@Pages/views/Frontend/Pages/_index.twig' %}
{% block stylesheet %}
    {{ parent() }}
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
    {% set paginatorUrl=path(app.request.attributes.get('_route'))~'?p=%page%' %}
    <div class="table col-xs-offset-1 col-xs-2 ">

        {% if (pages is iterable) and (pages.count > 0) %}
            {% for page in pages %}
                <div class="row show-grid">

                    <div class="action-image col-xs-1">
                        <a href="{{ path('pages/actions/page', {slug: page.getSlug }) }}">
                            {% if  page.getImage %}
                                <img src="{{ constant('CORE_UPLOADS_URL')~'/actions/'~ page.getImage }}"/>
                            {% endif %}
                        </a>
                    </div>
                    <div class="action-short-description col-xs-1">
                        {{ page.getShortContent | raw }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% include '@Pages/views/Backend/Pages/_paginator.twig' %}
    </div>

{% endblock content %}

{% block footer_javascript %}
    {{ parent() }}
    <script src="/assets/jquery-2.1.1.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}