<html>
    <head>
        {% block favicon%}
             <link rel='shortcut icon' href="/uploads/favicon.ico" type='image/x-icon'>
        {% endblock %}

        {% block stylesheet %}
            <link rel="stylesheet" href="/assets/css/all.min.css" />
            <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        {% endblock %}

        
        <script src="/assets/jquery-2.1.1.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

        {%  block title %}{% endblock %}
        {%  block description %}{% endblock %}
        {%  block keywords %}{% endblock %}
    </head>
    <body>

    <div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="border-right: 1px solid #ddd;">
            <h2>CryoStorage</h2>
            <hr/>
            <ul class="nav nav-pills nav-stacked admin-menu">
                <li><a href="{{ path('startpage/index') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ 'Dashboard' }}</a></li>
                {#{ render_modules_menu() }#}
            </ul>
        </div>
        <div class="col-md-10">
            <div style="height: 60px;">
                <div class="btn-group pull-right top-border" style="margin-right: 20px;">
                    <button type="button" class="btn btn-default dropdown-toggle top-border" data-toggle="dropdown" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {{ app.user.getUsername }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('users_logout') }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> {{ 'Выход' }}</a></li>
                    </ul>
                </div>
            </div>
            {% if app.session.getFlashBag.peek('messages') %}
                {% for flash in app.session.getFlashBag.get('messages') %}
                    <div style="margin-top:-20px" class="alert alert-{{ flash.type }}">{{ flash.message }}</div>
                {% endfor %}
            {% endif %}
            <div class="{% block containerClass %}{% endblock %}">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    </div>
    </body>
</html>
